nav {
    font-family: 'Tangerine', fantasy;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: #fff;
    display: flex;
    align-content: flex-end;
 }


nav a {
    font-family: 'Tangerine', fantasy;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}


.nav li a:hover {
    color: #33DBFF;
    text-decoration: underline;
    font-weight: bolder;
}