.content {
    background-image: url(./images/lokta.jpg);
    align-items: center;
    align-content: center;
    padding: 10rem;
    border: 2rem;
    width: 100%;
    height: 100vh;
}

#dates{
    font-size: 1rem;
}

#word {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#showWord {
    font-size: 1rem;
    font-family: fantasy;
}



#orthography {
    font-family: 'AiNaidar';
    font-size: 4rem;
}