nav {

    width: 100%;
    border-bottom: 2px solid black;
    background-color: #fff;
 }


.navset {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#name {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px 0px 0px 0px; 
    padding: 10px 15px 10px 15px;
    height: 100%;
}

.navlist {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    width: 55%;
}

.navlist li {
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
    list-style: none;
    
    
}

.navlist li a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}


.navlist li a:hover {
    color: #33DBFF;
    text-decoration: underline;
    font-weight: bolder;
}