footer {
    border-top: 2px solid black;
    background-color: whitesmoke;
    color: #000;
    width: 100%;
    height: 65px;
    font-size: .75rem;
    font-family: 'Amatic SC', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
}

footer p {
    padding: 50px;
}